#imgCaption {
    display: flex;
    flex-direction: row;
    margin-bottom: 16px;
    margin-right: 0px;
    /* margin-top: 10px; */

}

#caption {
    margin-top: 90px;
    margin-left: 250px;
    height: 105px;
    
}
#caption h4 {
    min-width: 400px;
    text-align: right;
    font-size: 36px;
    margin-right: 8px;
}

#slide {
    margin-top: 50px;
}

#homePageImg {
    height: 250px;
    width: 480px;
}
#space{
    border: solid 3.5px #eb2025;
    border-radius: 5px;
    height: 100px;
    margin-top: 90px;
}
#startShopping{
    font-size: 25px;
}